<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada e saídas de Dados</title>
</head>
<body>
    <h1>Formulário</h1>
    <hr>
    
    <form action="/enviar" method="post">
        <label for="Nome:">Nome:</label><br>
        <input type="text" name="Texto" id="Nome" placeholder="Informe seu nome:"><br><br>
        <label for="Idade:">Idade:</label><br>
        <input type="number" idade="Idade"placeholder="Informe sua idade:"><br>
        <button type="submit">Enviar</button>
    </form>
    <br><br>
    <h2>{{nome,idade}}</h2>
</body>
</html>